html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
  background: var(--dark);
  /* background: #121212; */
  color: white;
}
:root {
  /* colors */
  --glow-color: hsl(0, 0%, 100%);
  --header-left: #474bff;
  --header-middle: #090505;
  --header-right: #bc48ff;
  --text: white;
  --main: #2e2e2f;
  --popular-movie: #242424;
  /* --popular-movie: #2c3031; */

  /* Font colors */
  --bright: rgba(#fff, 0.96);
  --bright2: rgba(#fff, 0.67);
  --bright3: rgba(#fff, 0.45);

  --dark: #100f10;
  --dark2: #1b1b1b;
  --dark3: #242424;

  /* font-size:  */
  --smallFontS: 0.375rem;
  --smallFontM: 0.625rem;
  --smallFontL: 0.875rem;

  --mediumFontS: 1rem;
  --mediumFontM: 1.375rem;
  --mediumFontL: 1.75rem;

  --largeFontS: 2.5rem;
  --largeFontM: 3.5rem;
  --largeFontL: 4.5rem;
}

/************************ header ************************/

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;
  /* margin-left: 0; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: var(--header-left);
  background: -webkit-linear-gradient(
    91deg,
    var(--header-left) 0%,
    var(--header-middle) 50%,
    var(--header-right) 100%
  );
  background: linear-gradient(
    91deg,
    var(--header-left) 0%,
    var(--header-middle) 50%,
    var(--header-right) 100%
  );
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: -1em;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text);
  font-size: var(--mediumFontS);
  border-radius: 0.2em;
  padding: 0.2em;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1em;
  margin-top: 0.8em;
}

nav > a:hover {
  text-shadow: 0px 2px 20px var(--text);
}

.popcorn-icon {
  width: 40px;
  margin-left: 0.4em;
}

.avatar-icon {
  width: 40px;
  margin-top: -1.3em;
}

/*********************** media *********************/

@media (min-width: 414px) {
  .avatar-icon {
    margin-top: -0.5em;
  }

  nav {
    margin-top: 0;
  }
  nav > a {
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  #header {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 15% 5%;
    padding-top: 0;
  }
  nav {
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  nav {
    flex-direction: row;

    gap: 5em;
  }

  #header > a {
    font-size: 1.2rem;
  }

  .material-symbols-outlined {
    font-size: 1.4rem;
  }

  .popcorn-icon {
    width: 50px;
    margin-bottom: 0.5em;
  }
  .avatar-icon {
    width: 50px;
  }
}

/***********************Search-Bar ********************/

.search-bar-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#search-form {
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
  border-radius: 0.3em;
}

.search-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  height: 5vh;
}

i {
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  color: gray;
}

form > button {
  border: none;
  cursor: pointer;
  border-left: 1.5px solid black;
  background-color: var(--main);
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  color: var(--text);
}

#search-btn:disabled {
  cursor: wait;
}

input[type="text"] {
  border: none;
  font-size: 1rem;
  background-color: var(--main);
  color: var(--text);
}
input[type="text"]:focus {
  outline: none;
}

/*********************** media *********************/

@media (min-width: 1280px) {
  .search-bar {
    height: 5vh;
    min-width: 450px;
  }
  form > button {
    font-size: 1rem;
    padding: 0 1em;
    background-color: #4b4b4b;
  }

  input[type="text"] {
    min-width: 400px;
  }

  input[type="text"]:autofill {
    min-width: 400px;
    color: gray;
  }
}

/* carousel */

.carousel {
  background-color: var(--popular-movie);
  margin: 3em auto;
  border-radius: 10px;
  width: 60%;
  /* width: 55%; */
  border: 3px solid var(--popular-movie);
}

.carousel-container {
  position: relative;
}

.carousel-img {
  margin: 1.5em auto;
  border-radius: 10px;
  width: 175px;
  height: 250px;
  max-width: 200px;
  max-height: 300px;
  transition: transform 0.5s ease;
}

.movie-year,
.movie-star,
.play-btn,
.movie-icon {
  position: absolute;
}

.movie-year {
  bottom: 0px;
  left: 50px;
}
.movie-star {
  bottom: 0px;
  right: 45px;
  color: #ffcc00;
}
.play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-btn:hover {
  cursor: pointer;
}

/* .movie-icon {
  top: -14px;
  right: 17px;
} */

/*********************** media *********************/
@media (min-width: 600px) {
  .carousel {
    width: 70%;
    border: none;
  }
  .carousel-img {
    width: 200px;
    height: 275px;
  }
}

/******************* main **********************/
#main {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.error-msg {
  text-align: center;
}

.movies-header {
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
  font-size: var(--mediumFontL);
}

/* popular-movies-section */
#popular-movies-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1em;
}
.container {
  display: flex;
  flex-direction: row;
  width: 83vw;
  background-color: var(--popular-movie);
  border-radius: 0.4em;
  place-self: center;
  padding: 0;
}
.container:hover {
  box-shadow: 0px 0px 20px 0px white;
  background-color: #333536;
}

.popular-film-info {
  margin: 0 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.popular-film-directed {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}
/************************/

.icon {
  display: block;
  width: 8em;
  margin: auto;
  margin-top: 3em;
}

#main > p {
  font-size: 2vh;
  color: gray;
  text-align: center;
}

.results {
  margin-left: 0.5em;
  margin-bottom: 0.75em;
}

@media (min-width: 1280px) {
  .results {
    font-size: 2em;
    margin-left: 1em;
  }
}

.film-container {
  margin: 1em 0.75em;
  display: grid;
  grid-template-columns: 130px auto;
  grid-template-rows: 1fr auto auto auto;
  grid-template-areas:
    " image  info "
    " image  genre"
    " image  button "
    " text   text ";
}

.movie-image {
  grid-area: image;
  width: 130px;
  height: 30vh;
  border-radius: 0.4em;
  cursor: pointer;
}

.film-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: info;
  margin-left: 0.5em;
}

/* film-name */
.film-name {
  display: flex;
  align-items: center;
}

.film-name > h3 {
  font-size: 1.25rem;
  margin: 0;
}
.film-name > p {
  margin: 0;
}
.film-name > h5 {
  margin-bottom: 0;
  margin-top: 0.2em;
  font-size: 1em;
}

/* film-genre */
.film-genre {
  grid-area: genre;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.2em;
  gap: 0.5em;
  height: 10vh;
}

.film-genre > h4,
.film-genre > h5 {
  margin: 0;
  font-size: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  grid-area: button;
}

.btn-container > h6 {
  margin: 0;
  margin-left: 0.2em;
  font-size: 1rem;
}

#add-btn,
#remove-btn,
#add-btn-link {
  grid-area: button;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: var(--text);
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  padding: 0.5em;
}

#add-btn-link {
  padding: 0;
  margin-right: 0.4em;
  background-color: white;
}

#add-btn,
#add-btn-link {
  background-image: url("./images/Iconplus.png");
}

#add-btn {
  background-color: rgb(15, 173, 15);
}
#remove-btn {
  background-image: url("./images/Iconminus.png");
  background-color: #be1000;
}

#add-btn:hover,
#add-btn-link:hover {
  background-color: rgb(0, 252, 0);
  box-shadow: 0 0 20px rgb(0, 252, 0);
}
#remove-btn:hover {
  background-color: red;
  box-shadow: 0 0 20px red;
}

#add-btn:disabled {
  background-color: gray;
  cursor: default;
}
.film-plot {
  grid-area: text;
  color: #a5a5a5;
  /* margin-top: 0.5em; */
}

.film-plot > p {
  margin: 0;
  margin-top: 0.4;
}

hr {
  width: 92%;
  margin: 0 auto;
}

.empty-watchlist {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: 2em; */
  height: 70vh;
  /* background-image: url("https://images6.alphacoders.com/778/778373.jpg"); */

  /* "https://images3.alphacoders.com/114/1143846.jpg" flash */
  /* "https://images4.alphacoders.com/106/1068870.jpg" batman */
  /* "https://images8.alphacoders.com/110/1104267.jpg" superman */
  /* "https://images6.alphacoders.com/778/778373.jpg" batman2 */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.watchlist-text {
  margin-top: 3em;
  font-weight: 400;
  font-size: 1.2rem;
}

.add-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************** media *********************/
/* fixing overflow text */
@media (min-width: 400px) {
  .ellipsis {
    -webkit-line-clamp: 2;
  }
}

@media (min-width: 768px) {
  #popular-movies-container {
    grid-template-columns: repeat(2, auto);
    grid-gap: 0.7em;
    width: 80vw;
    margin: 0 auto;
  }
  .container {
    width: 100%;
  }
  .film-container {
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    grid-template-columns: minmax(150px, 180px) auto;
    grid-template-areas:
      " image  info "
      " image  genre"
      " image  button "
      " image  text  ";
  }

  .icon {
    width: 15em;
  }

  #main > p {
    font-size: 2.5vh;
    letter-spacing: 0.1em;
  }

  .movie-image {
    width: 175px;
    height: 30vh;
  }

  .film-info {
    height: fit-content;
    width: fit-content;
    /* margin-top: 0.5em; */
  }

  .film-name {
    height: 5vh;
  }

  .film-name > p {
    margin-left: 0.5em;
  }

  /* film-genre */
  .film-genre {
    flex-direction: row;
    justify-content: left;
    margin-left: 0;
    height: fit-content;
    margin: 0.8em 0;
    max-width: 500px;
  }

  .btn-container > h6 {
    margin: 0;
    margin-left: 0.2em;
    font-size: 1rem;
  }

  .film-plot {
    display: flex;
    margin-left: 0.5em;
  }
  .film-plot > p {
    margin: 0.5em 0;
  }

  hr {
    width: 95%;
  }
}

@media (min-width: 1281px) {
  #popular-movies-container {
    grid-template-columns: repeat(3, auto);
  }
}

/****************** glowing effect ***************************/

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 3s linear infinite;
}

@media (min-width: 1280px) {
  .glowing-btn {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 5s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* PAGINATION PART */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  gap: 0.5rem;
  margin-top: 1.5rem;
  padding: 0 0.3em;
}
.pagination .page-num,
.pagination .page {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: #0082be;
  text-decoration: none;
  user-select: none;
}

.pagination .page-num {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pagination .page-num:hover,
.pagination .page:hover {
  background-color: #022c40;
  color: white;
  box-shadow: 0 0 20px var(--text);
}

.pagination .active {
  background-color: #022c40;
  color: white;
  box-shadow: 0 0 20px white;
}

/* Pagination Media */

@media (min-width: 1280px) {
  .pagination {
    flex-wrap: nowrap;
    padding: 0;
  }
}

/************************************* MovieDetailsPAge************************** */

.movie-detail-container {
  position: relative;
}
.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 80%;
  height: 40vh;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.trailer {
  display: flex;
  justify-content: center;
  font-size: var(--mediumFontS);
  margin-left: 2.2em;
  margin-bottom: 1em;
  width: fit-content;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  border-radius: 10px;
}
.trailer:hover {
  background-color: var(--header-left);
  cursor: pointer;
}

.trailer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 50vh;
  z-index: 1;
  background-color: black;
  cursor: pointer;
}
.trailer-container > iframe {
  position: relative;
}

/* CloseButton */
.close-container {
  position: absolute;
  top: -1em;
  right: -1em;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}

.leftright {
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
  border: 1px solid var(--header-right);
}

.rightleft {
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
  border: 1px solid var(--header-right);
}

label {
  color: white;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.close {
  margin-top: 15px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}
.close-container:hover label {
  opacity: 1;
}

@media (min-width: 768px) {
  .video-container {
    width: 90%;
    height: 80vh;
  }
  .trailer {
    font-size: var(--mediumFontM);
    margin-left: 1.5em;
  }

  .trailer-container {
    width: 70vw;
    height: 70vh;
  }
}
/* footer */

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/* NotFoundPage */
.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  gap: 1em;
  background: #0c0950;
  background: -webkit-radial-gradient(
    circle,
    #0c0950 0%,
    #000000 50%,
    #9901ab 100%
  );
  background: radial-gradient(circle, #0c0950 0%, #000000 50%, #9901ab 100%);
}

.notfound-link {
  background-color: #161616;
  color: var(--text);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 10px;
  width: 40%;
  text-align: center;
}

.notfound-link:hover {
  box-shadow: 0 0 20px var(--text);
}

/******************************************* LOGIN PAGE ********************************* */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1em;
}

.login-form,
.reset-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input,
.reset-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus,
.reset-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.reset-form > input {
  border-radius: 6px;
}

.login-form > button,
.reset-form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.login-form > button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

/* The alert message box */
.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em;
  background-color: #ea564b; /* Red */
  margin-top: 1em;
  margin-bottom: 0;
}

/* The close button */
.login-error {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .login-error {
    font-size: 22px;
  }
}

/******************************** Dashboard *********************************/

.dashboard {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: black; */
  color: white;
  width: 90%;
  height: 80%;
  border: 2px solid var(--header-right);
}

.profile-container > h1 {
  font-size: var(--largeFontM);
  color: var(--header-right);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 0.75em;
}
.profile-container > h2 {
  margin-top: 0.5em;
}

.profile-container > a {
  font-size: var(--mediumFontM);
  color: var(--header-right);
}
.profile-container > a:hover {
  color: #9905ef;
}

.profile-container > button {
  /* background-color: #ff8c38; */
  background-color: var(--header-left);
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 0 20px;
}
.profile-container > button:hover {
  background-color: #9905ef;
}

.profile-container > button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

/* //update Profile page */

.label-input {
  font-size: var(--mediumFontS);
  margin: 0.3em 0;
  opacity: 1;
  font-family: Inter;
  color: #ff8c38;
  font-weight: 600;
}

/* .box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #d11a1a;
  border-radius: 50px 5px;
  overflow: hidden;
}

.box::before {
  content: "";

  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";

  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
