html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Inter;
  background: #121212;
  color: white;
}
:root {
  --glow-color: hsl(0, 0%, 100%);
  --header-left: #474bff;
  --header-middle: #090505;
  --header-right: #bc48ff;
  --text: white;
  --main: #2e2e2f;
  --popular-movie: #2c3031;
}

/************************ header ************************/

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 -4em;
  height: 30vh;
  width: 100%;
  margin-left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: var(--header-left);
  background: -webkit-linear-gradient(
    91deg,
    var(--header-left) 0%,
    var(--header-middle) 50%,
    var(--header-right) 100%
  );
  background: linear-gradient(
    91deg,
    var(--header-left) 0%,
    var(--header-middle) 50%,
    var(--header-right) 100%
  );

  /* background: #4776e6;
background: -webkit-radial-gradient(circle, #4776e6 0%, #8e54e9 100%);
background: radial-gradient(circle, #4776e6 0%, #8e54e9 100%); */

  /* background: #474bff;
background: -webkit-radial-gradient(circle, #474bff 0%, #bc48ff 100%);
background: radial-gradient(circle, #474bff 0%, #bc48ff 100%); */

  /* background: #bc48ff;
background: -webkit-radial-gradient(circle, #bc48ff 0%, #000000 50%, #474bff 100%);
background: radial-gradient(circle, #bc48ff 0%, #000000 50%, #474bff 100%); */
}

#header > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text);
  font-size: 1.2rem;
  border-radius: 0.2em;
  padding: 0.2em;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1em;
  margin-top: 1em;
}

#header > a:hover {
  text-shadow: 0px 2px 20px var(--text);
}

.popcorn-icon {
  width: 40px;
  margin-left: 0.4em;
}

/*********************** media *********************/

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
  #header {
    flex-direction: row;
    justify-content: space-around;
  }

  #header > a {
    font-size: 1.2rem;
  }

  .material-symbols-outlined {
    font-size: 1.4rem;
  }

  .popcorn-icon {
    width: 50px;
    margin-bottom: 0.5em;
  }
}

/***********************Search-Bar ********************/

.search-bar-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#search-form {
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
  border-radius: 0.3em;
}

.search-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  height: 4.5vh;
}

i {
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  color: gray;
}

form > button {
  border: none;
  cursor: pointer;
  border-left: 1.5px solid black;
  background-color: var(--main);
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  color: var(--text);
}

#search-btn:disabled {
  cursor: wait;
}

input[type="text"] {
  border: none;
  font-size: 1rem;
  background-color: var(--main);
}
input[type="text"]:focus {
  outline: none;
}

/*********************** media *********************/

@media (min-width: 768px) {
  .search-bar {
    height: 5vh;
    min-width: 450px;
  }
  form > button {
    font-size: 1rem;
    padding: 0 1em;
    background-color: #4b4b4b;
  }

  input[type="text"] {
    min-width: 400px;
    color: gray;
  }

  input[type="text"]:autofill {
    min-width: 400px;
    color: gray;
  }
}

/* carousel */

.carousel {
  margin: 3em auto;
  /* background-color: var(--popular-movie); */
  border-radius: 10px;
  width: 55%;
  border: 3px solid var(--popular-movie);
}

.carousel-container {
  position: relative;
}

.carousel-img {
  margin: 1.5em auto;
  border-radius: 10px;
  width: 175px;
  height: 250px;
  max-width: 200px;
  max-height: 300px;
  transition: transform 0.5s ease;
}

.carousel-img:hover {
  transform: scale(1.2);
}

.movie-year,
.movie-star,
.play-btn,
.movie-icon {
  position: absolute;
}

.movie-year {
  font-size: 0.75rem;
  bottom: 0px;
  left: 50px;
}
.movie-star {
  font-size: 0.75rem;
  bottom: 0px;
  right: 45px;
  color: #ffcc00;
}
.play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-btn:hover {
  cursor: pointer;
}

.movie-icon {
  top: -14px;
  right: 17px;
}

/*********************** media *********************/
@media (min-width: 600px) {
  .carousel {
    background-color: var(--popular-movie);
    width: 70%;
    border: none;
  }
  .carousel-img {
    width: 200px;
    height: 275px;
  }
}

/******************* main **********************/
#main {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.error-msg {
  text-align: center;
}

.movies-header {
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

/* popular-movies-section */
#popular-movies-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1em;
}
.container {
  display: flex;
  flex-direction: row;
  width: 83vw;
  background-color: var(--popular-movie);
  border-radius: 0.4em;
  place-self: center;
  padding: 0;
}
.container:hover {
  box-shadow: 0px 0px 20px 0px var(--text);
  background-color: #333536;
}

.popular-film-info {
  margin: 0 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.popular-film-directed {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}
/************************/

.icon {
  display: block;
  width: 8em;
  margin: auto;
  margin-top: 3em;
}

#main > p {
  font-size: 2vh;
  color: gray;
  text-align: center;
}

.film-container {
  margin: 1em 0.75em;
  display: grid;
  grid-template-columns: 130px auto;
  grid-template-rows: 1fr auto auto auto;
  grid-template-areas:
    " image  info "
    " image  genre"
    " image  button "
    " text   text ";
}

.movie-image {
  grid-area: image;
  width: 130px;
  height: 25vh;
  border-radius: 0.4em;
  cursor: pointer;
}

.film-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: info;
  margin-left: 0.5em;
}

/* film-name */
.film-name {
  display: flex;
  align-items: center;
}

.film-name > h3 {
  font-size: 1.25rem;
  margin: 0;
}
.film-name > p {
  margin: 0;
}
.film-name > h5 {
  margin-bottom: 0;
  margin-top: 0.2em;
  font-size: 1em;
}

/* film-genre */
.film-genre {
  grid-area: genre;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.2em;
  gap: 0.5em;
  height: 10vh;
}

.film-genre > h4,
.film-genre > h5 {
  margin: 0;
  font-size: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  grid-area: button;
}

.btn-container > h6 {
  margin: 0;
  margin-left: 0.2em;
  font-size: 1rem;
}

#add-btn,
#remove-btn,
#add-btn-link {
  grid-area: button;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: var(--text);
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  padding: 0.5em;
}

#add-btn-link {
  padding: 0;
  margin-right: 0.4em;
}

#add-btn,
#add-btn-link {
  background-image: url("./images/Iconplus.png");
}

#add-btn {
  background-color: rgb(15, 173, 15);
}
#remove-btn {
  background-image: url("./images/Iconminus.png");
  background-color: #be1000;
}

#add-btn:hover,
#add-btn-link:hover {
  background-color: rgb(0, 252, 0);
  box-shadow: 0 0 20px rgb(0, 252, 0);
}
#remove-btn:hover {
  background-color: red;
  box-shadow: 0 0 20px red;
}

#add-btn:disabled {
  background-color: gray;
  cursor: default;
}
.film-plot {
  grid-area: text;
  color: #a5a5a5;
  /* margin-top: 0.5em; */
}

.film-plot > p {
  margin: 0;
  margin-top: 0.4;
}

hr {
  width: 92%;
  margin: 0 auto;
}

.empty-watchlist {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: 2em; */
  height: 70vh;
  background-image: url("https://images6.alphacoders.com/778/778373.jpg");

  /* "https://images3.alphacoders.com/114/1143846.jpg" flash */
  /* "https://images4.alphacoders.com/106/1068870.jpg" batman */
  /* "https://images8.alphacoders.com/110/1104267.jpg" superman */
  /* "https://images6.alphacoders.com/778/778373.jpg" batman2 */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.watchlist-text {
  margin-top: 3em;
  font-weight: 400;
  font-size: 1.2rem;
}

.add-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************** media *********************/
/* fixing overflow text */
@media (min-width: 400px) {
  .ellipsis {
    -webkit-line-clamp: 2;
  }
}

@media (min-width: 768px) {
  #popular-movies-container {
    grid-template-columns: repeat(3, auto);
    grid-gap: 0.7em;
    width: 80vw;
    margin: 0 auto;
  }
  .container {
    width: 100%;
  }
  .film-container {
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    grid-template-columns: minmax(150px, 180px) auto;
    grid-template-areas:
      " image  info "
      " image  genre"
      " image  button "
      " image  text  ";
  }

  .icon {
    width: 15em;
  }

  #main > p {
    font-size: 2.5vh;
    letter-spacing: 0.1em;
  }

  .movie-image {
    width: 175px;
    height: 30vh;
  }

  .film-info {
    height: fit-content;
    width: fit-content;
    /* margin-top: 0.5em; */
  }

  .film-name {
    height: 5vh;
  }

  .film-name > p {
    margin-left: 0.5em;
  }

  /* film-genre */
  .film-genre {
    flex-direction: row;
    justify-content: left;
    margin-left: 0;
    height: fit-content;
    margin: 0.8em 0;
    max-width: 500px;
  }

  .btn-container > h6 {
    margin: 0;
    margin-left: 0.2em;
    font-size: 1rem;
  }

  .film-plot {
    display: flex;
    margin-left: 0.5em;
  }
  .film-plot > p {
    margin: 0.5em 0;
  }

  hr {
    width: 95%;
  }
}

/****************** glowing effect ***************************/

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 3s linear infinite;
}

@media (min-width: 768px) {
  .glowing-btn {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 5s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* PAGINATION PART */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.pagination .page-num,
.pagination .page {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: #0082be;
  text-decoration: none;
  user-select: none;
}

.pagination .page-num {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pagination .page-num:hover,
.pagination .page:hover {
  background-color: #022c40;
  color: white;
  box-shadow: 0 0 20px white;
}

.pagination .active {
  background-color: #022c40;
  color: white;
  box-shadow: 0 0 20px white;
}

/* MovieDetailsPAge */

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* footer */

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/* NotFoundPage */
/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
} */
/* .App a {
  background-color: #161616;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 10px;
  width: 50%;
  text-align: center;
} */
